<div class="container">
  <div class="row">
    <div class="span10 offset1 content">
      <div class="row">
        <div class="span8 offset1">
          <h1>
            <%= image_tag "logo.png", :alt => "Pacific Three", :size => "175x175" %>
          </h1>
          <h2>Local West coast inspired cuisine</h2>
          <hr>
          <div class="row">
            <div class="dishes span3">
            	<%= image_tag "dish1.jpg", :alt => "" %>
            	<%= image_tag "dish2.jpg", :alt => "" %>
            	<%= image_tag "dish1.jpg", :alt => "" %>
            </div>
            <div class="span5" id="features">
              <h3>
                <i class="fa fa-cutlery"></i>
                <!-- &#35; 1 -->&nbsp; Signature Teriyaki Chicken
              </h3>
              <p>Tender pieces of grilled teriyaki chicken slow cooked for a minimum of 7 hours. non voluptatum id consequatur facere odit laborum. minus omnis quasi magni adipisci modi nostrum accusamus quidem.</p>
              <h3>
                <i class="fa fa-cutlery"></i>
                &nbsp; Sweet &amp; Sour Chicken
              </h3>
              <p>Tender slices of chicken tossed in our delicious sweet and sour sauce.  Rerum eaque nisi et soluta. repudiandae et at et itaque officia consequuntur incidunt ut. maxime ipsa non quia quis...</p>
              <h3>
                <i class="fa fa-cutlery"></i>
                Perferendis qui
              </h3>
              <p>Quia est commodi labore architecto ea et nihil officia rem at quas est. quia qui veniam minus iste et eligendi laboriosam facere. quam quaerat eum aut sunt. mollitia dolor nam...</p>
              <h3>
                <i class="fa fa-cutlery"></i>
                Eius animi
              </h3>
              <p>Non sapiente quia maiores error quis ut corporis. consequuntur perspiciatis quia expedita voluptatem. sunt corporis est adipisci adipisci illo ut. ducimus illum qui dolor voluptatem possimus amet blanditiis. et et...</p>
              <h3>
                <i class="fa fa-plus-square"></i>
                &nbsp; Sub brown rice
              </h3>
              <p>Substitute brown rice on any dish for whole grain goodness.</p>
              <h3>
                <i class="fa fa-plus-square"></i>
                &nbsp; Sub udon noodles
              </h3>
              <p>Substitute udon noodles for a Japanese infused taste.</p>
              <!-- <p id="appstore"><img alt="Available on App Store" width="170" height="57" src="./assets/appstore.png"></p> -->
            </div>
          </div>
          <hr>
          <h3>About Pacific Three</h3>
          <p>Inspired by ... sed totam dolorem quia repellendus non error assumenda recusandae. quia est sit dolorum. exercitationem pariatur consequuntur ea molestiae qui maiores nam ut blanditiis. aliquid quas quibusdam quia similique vel aut facilis autem quas. perspiciatis praesentium rerum aspernatur illum similique. quo est dolorem cumque modi dignissimos aut. eaque consequatur fuga quae deserunt repudiandae aut quod exercitationem</p>
          <hr>
          <h3>Catering</h3>
          <p>
            We offer several delicious dishes that are perfect for any business event or party serving a minimum of 10 people.
          </p>
          <hr>
          <div class="row">
            <div class="span4">
              <blockquote>
                <p>Molestiae corrupti delectus quis nostrum autem sed quia et reiciendis accusantium officia</p>
                <small>Paola McLaughlin</small>
              </blockquote>
            </div>
            <div class="span4">
              <blockquote>
                <p>Adipisci voluptas ex ut animi explicabo dolor nam</p>
                <small>Eliza Floyd</small>
              </blockquote>
            </div>
          </div>
          <div class="row">
            <div class="span4">
              <blockquote>
                <p>Necessitatibus sed quas blanditiis excepturi voluptatem autem qui</p>
                <small>Johnny Fox</small>
              </blockquote>
            </div>
            <div class="span4">
              <blockquote>
                <p>Amet est sunt labore</p>
                <small>Rogelio Barton</small>
              </blockquote>
            </div>
          </div>
          <hr>
          <form class="form-inline">
            <h3>Sign up to receive special deals in our Monthly Newsletter</h3>
            <input placeholder="Enter your email address..." type="text">
            <button class="btn" type="submit">SIGN UP</button>
          </form>
          <hr>
          <p id="social">
            <a href="#">
            	<%= image_tag "twitter.png", :alt => "Follow us on Twitter" %>
            </a>
            <a href="#">
            	<%= image_tag "facebook.png", :alt => "Like us on Facebook" %>
            </a>
          </p>
          <hr>
          <footer>
            <p>
              &copy; Pacific Three
              <script type="text/javascript">document.write(new Date().getFullYear())</script>
              <!-- <span class="pull-right">
                <a href="#">Terms of Service</a> | 
                <a href="#">Privacy Policy</a>
              </span> -->
            </p>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>